
.container{
    display: flex;
    align-items: space-around;
}

.itens{
    display: flex;
    width: 40vw;
    
}

p{
    
    font-weight: bold;
    font-size: 18px;
}

.space{
    height: 100px;
}

.link{
    margin-bottom: 1%;
}
.buttons button {
    width: 150px;
    margin-bottom: 10px;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modalButtons{
    width: 350px;
    display: flex;
    justify-content: space-around;
}

.modalHeader{
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
    margin-bottom: 5%;
}

.movida{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.localiza{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;

}

.name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5% 0 5% 0

}

.year{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5% 0 5% 0

}

.version{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5% 0 5% 0
}

.localiza .version {
    width: 100%;
}

select.form-control {
    width: 90%;
}

.webmotors{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.webmotors span{
    text-align: center;
}

.modalButtons{
    display: flex;
}



