
.container{
    display: flex;
}

.itens{
    display: flex;
    width: 40vw;
    
}

p{
    
    font-weight: bold;
    font-size: 18px;
}

.division{
    width: 200px;
}
.space{
    height: 100px;
}

.link{
    margin-bottom: 1%;
}
.buttons button {
    width: 150px;
    margin-bottom: 10px;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modalButtons{
    width: 350px;
    display: flex;
    justify-content: space-around;
}

.modalHeader{
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
    margin-bottom: 5%;
}



.name span{
    margin-top: -10%;
}
