body{
    width: 100%;
    margin: auto;
}

p{
    margin:0;
    font-weight: bold;
    font-size: 18px;
}

span{
    font-weight: 200 ;
    font-size: 15px;
}

.title{
    font-weight: bolder;
    font-size: 30px;
}


.row-selects{
    display: flex;
    justify-content:space-between;
    margin-bottom: 18%;
    margin-top: 7%;
}

.row-selects .select1{
    width: 50%;
}

.row-selects .select2{
    width: 27%;
}

.select3{
    margin-top: 38%;
}

.button{
    margin-right: 4%;
}


label{
    font-weight: bold;
    font-size: 18px;
}
