.card{
    -webkit-box-shadow: 5px 3px 23px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 3px 23px -5px rgba(0,0,0,0.75);
    box-shadow: 5px 3px 23px -5px rgba(0,0,0,0.75);
}



.attributeName{
    margin:0;
    font-weight: bold;
    font-size: 18px;
}

span{
    font-weight: 200 ;
    font-size: 15px;
}

.title{
    font-weight: bolder;
    font-size: 30px;
}


.row-attributes{
    display: flex;
    justify-content:space-between;
    margin-bottom: 18%;
    margin-top: 7%;
}

.attribute1{
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.attribute3{
    margin-left: 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.attribute2{
    margin-right: 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.attribute4{
    margin-right: 2.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.attribute5{
    display: flex;
    flex-direction: column;
    align-items: center;
}




