.wrap {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .wrap::before {
    content: "";
    background: url("https://assets.volanty.com/images/3.0/tech/graphic-orange.svg")
    no-repeat right top;
    width: 15%;
    height: 60pc;
    background-size: 600px;
    position: absolute;
    left: 0;
    top: 100;
    z-index: 1;
  }
  .wrap::after {
    content: "";
    background: url("https://assets.volanty.com/images/3.0/tech/graphic-blue.svg")
    no-repeat;
    width: 100%;
    height: 1000px;
    background-size: contain;
    position: absolute;
    left: 0;
    top: -2px;
    background-size: cover;
  }
  
  .car {
    position: absolute;
    right: -60px;
    top: 500px;
    z-index: 1;
    transform: scaleX(-1);
  }