.card-section{
    width: 100%;
    position: absolute;
    top: 350px;
    border: none;
    z-index: 2;
}
.card-columns{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    align-self: center;
    width: 500px;
    margin: 0 auto;
    width: 55%;
}

.card-columns .card {
    display: inline-block;
    width: 50%;
    height: 480px;
    margin-top: -80px;
}
.custom-file-label {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: calc(2.5em + .1rem + 3px);
    padding: .375rem .75rem;
    font-weight: 400;
    line-height: 1;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    width: 80%;
    
}

.mb-3{
    width: 540px;
    border: none;
    border-radius: 20px;
    -webkit-box-shadow: -1px 7px 29px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 7px 29px -8px rgba(0,0,0,0.75);
    box-shadow: -1px 7px 29px -8px rgba(0,0,0,0.75);
}

.card-title{
    font-size: 32px;
    
}
.custom-file-label.custom-file-label{
    width: 70%;
    height: 8%;
}

.card-options{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 5%;
}

.find-csv{
    width: 140px;
    height: 40px;
}

.base-select{
    width: 100px;
    height: 40px;
}


.test-inputo{
    width: 40%;
}

.input-block{
    width: 50%;
}

.custom-file-label {
    top: 65px;
    width: 50%;
    margin: 0 auto;

}

label{
    margin: 15px;
    
}
.origin-title{
    margin-top: 40px;
    font-size: 25px;
}

.form-control.form-control{
    width: 30%;
    margin: 0 auto;
}

.btn{
    
    margin-top: 30px;
    font-size: 30px;
}
.btn.btn{
    margin-top: 70px;
}
