/* Product List */

.card-section{
    width: 100%;
    position: absolute;
    top: 350px;
    border: none;
    z-index: 2;
}
.column-card-upload{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    align-self: center;
    width: 60%;
    margin: 0 auto;
}

.mb-3-upload{
    width: 100%;
    border: none;
    border-radius: 20px;
    -webkit-box-shadow: -1px 7px 29px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 7px 29px -8px rgba(0,0,0,0.75);
    box-shadow: -1px 7px 29px -8px rgba(0,0,0,0.75);
}

.card-title{
    font-size: 32px;
}

.card-options{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 5%;
}

.find-csv{
    width: 140px;
    height: 40px;
}

.base-select{
    width: 100px;
    height: 40px;
}


.test-inputo{
    width: 40%;
}

.input-block{
    width: 50%;
}

.custom-file-label {
    top: 65px;
    width: 50%;
    margin: 0 auto;
    display: flex;
}

label{
    margin: 15px;
}

.form-control{
    width: 30%;
    margin: 0 auto;
}

.btn{
    margin: 0 auto;
    margin-top: 30px;
}