.titulo1 {
  text-align: center;
  font-weight: bold;
}

.titulo2 {
  text-align: center;
  font-weight: bold;
}

.boxGoogle {
  z-index: 20;
  position: relative;
  margin-top: 200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
