body{
    text-align: center;
    width: 100%;
    margin: auto;
}
.card{
    width: 26%;
    height: 370px;
    margin-top: 10px;
}
/*Título dos cards*/
.title{
    font-weight: bolder;
    font-size: 30px;
}

/*Nome de cada campo (Marca, modelo, ano...)*/ 
label{
    font-weight: bold;
    font-size: 18px;
}
/*Valor de cada campo */ 
span{
    font-weight: 200 ;
    font-size: 15px;
}

/* União entre o nome e o valor dos campos*/
.row-selects{
    display: flex;
    justify-content:space-between;
    margin-bottom: 18%;
    margin-top: 7%;
}
/*============= CAMPOS INDIVIDUAIS =========== */
.row-selects .select1{
    width: 50%;
}

.row-selects .select2{
    width: 27%;
}

.select3{
    margin-top: 38%;
    width: 100%;
}

.button{
    margin-right: 4%;
}

/*===============MEDIAS QUERIES============ */

/*TABLETS*/
@media (max-width: 992px){
    .card{
        width: 40%;
        height: 370px;
        margin-top: 10px;
    }
}

/*CELULARES*/
@media (max-width: 536px){
    .card{
        width: 80%;
        height: 370px;
        margin-top: 10px;
    }
    .select3{
        margin-top: 30%;
    }
}
