body{
    width: 100%;
    margin: auto;
}

.card.mb-3-match-screen{
    -webkit-box-shadow: 5px 3px 23px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 3px 23px -5px rgba(0,0,0,0.75);
    box-shadow: 5px 3px 23px -5px rgba(0,0,0,0.75);
    width: 26%;
    height: 370px;
    margin-top: 10px;
    border-radius: 20px;   
}

/*Título dos cards*/
.title{
    font-weight: bolder;
    font-size: 30px;
}

/*Nome de cada campo (Marca, modelo, ano...)*/
.attributeName{
    margin:0;
    font-weight: bold;
    font-size: 18px;
}

/* Container da Versão */
.selectedVersion{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-control{
    width: 90%!important;
}

/*Valor de cada campo */ 
span{
    font-weight: 500 ;
}

/* União entre o nome e o valor dos campos*/
.row-attributes{
    display: flex;
    justify-content:space-between;
    margin-bottom: 10%;
    margin-top: 7%;
}
/*============= CAMPOS INDIVIDUAIS =========== */
.attribute1{
    margin-left: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.attribute3{
    margin-left: 7%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.attribute2{
    margin-right: 7%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.attribute4{
    margin-right: 2.5%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.attribute5{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*===============MEDIAS QUERIES============ */

/*TABLETS*/
@media (max-width: 992px){
    .card.mb-3-match-screen{
        width: 40%;
        height: 370px;
        margin-top: 10px;
        border-radius: 20px;   
    }
}
/*CELULARES*/
@media (max-width: 536px){
    .card.mb-3-match-screen{
        width: 80%;
        height: 370px;
        margin-top: 10px;
        border-radius: 20px;   
    }
}





