.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.titulo1 {
text-align: center;
font-weight: bold;


}

.titulo2{
margin: 0 10px;
display: inline-block;
text-align: center;
font-weight: bold;


}
.boxgoogle{

  position: absolute;
  padding: 47px;
  position: relative;
  z-index: 30;
  text-align: center;
  align-content: center;
  padding-bottom: 5cm;

}
.button {
  position: center;
  padding: 15px 20px;
}

.msgErro,p {
  max-width: 42ch ;
  color: red;
  font-weight: bold;
  font-size: 12px;
  text-align: left;
  word-break: break-all;
}


