
.container{
    display: flex;
    align-items: space-around;
}

/*Botao para novo match*/
    .link{
        margin-bottom: 1%;
    }
/*Botoes de Editar e Remover*/
    .buttons button {
        width: 150px;
        margin-bottom: 10px;
    }



/*============ MODAL ================*/
/*Nome do Campo*/
    span{
        text-align: center;
    }
/*Valor do Campo*/
    p{ 
        font-weight: bold;
        font-size: 18px;
    }

/*Conteudo do modal*/
    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
/*Carro na Webmotors*/ 
    .webmotors{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    /*Valor do nome na Webmotors*/
    .webmotors span{
        text-align: center;
    }

/*Estrutura da Localiza e Movida*/
    .localiza,
    .movida{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
    }

/* Nome + Valor na Localiza e Movida*/
    .name{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 5% 0 5% 0

    }

    .year{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 5% 0 5% 0

    }

    .version{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 5% 0 5% 0
    }
/*Especificidades Localiza*/ 
    .localiza .version {
        width: 100%;
    }

    select.form-control {
        width: 90%;
    }



/*Botao dos modais*/
    .modalButtons{
        display: flex;
        width: 350px;
        display: flex;
        justify-content: space-around;
    }



